<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033540208043-8fjomhfdinhc6vl6r5224cbqsjia3f1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033540208043-8fjomhfdinhc6vl6r5224cbqsjia3f1r</string>
	<key>API_KEY</key>
	<string>AIzaSyB5fxKgpZdK9_cttu7_5dJxItoCJ7eVgpw</string>
	<key>GCM_SENDER_ID</key>
	<string>1033540208043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartactive.KazanSings</string>
	<key>PROJECT_ID</key>
	<string>kazansings-9ea4d</string>
	<key>STORAGE_BUCKET</key>
	<string>kazansings-9ea4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033540208043:ios:6c7385a38231c944ce7eee</string>
</dict>
</plist>